@font-face {
    font-family: dmSerif;
    src: url("./fonts/DM_Serif_Text/DMSerifText-Regular.ttf");
}

@font-face {
    font-family: inter;
    src: url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {

    /* Fonts */
    --font-primary: dmSerif, "serif";
    --font-secondary: inter, "sans-serif";

    /* Colors */
    --color-primary: #AAD3FF;
    --color-secondary: #E3F7FA;
    --color-bg-accent: #F8FFFE;
    --color-accent1: #FDC500;
    --color-accent2: #EDCC6F;
    --color-textColor: #000000;
    --color-success: #5BB35B;
    --color-error: #F5003D;
    --color-white: #F8F8F8;
    --color-gray: #D9D9D9;

    /* Colors Dark Theme */
    --color-primary-dark: #121212;
    --color-secondary-dark: #202020;
    --color-accent-dark: #F2F3F4;
    --color-bg-dark: #202020;
    
    /* Shadows */
    --shadow-icons: 0px 4px 4px rgb(0, 0, 0, 0.5);
    --shadow-icons-dark: 0px 4px 4px rgb(72, 72, 72, 0.5)

}

@layer utilities {
    html {
        @apply dark:bg-bg-dark;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
      .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .oldestDivider::before {
        @apply bg-black dark:bg-white;

        content: "";
        position: absolute;
        height: 3px;
        width: 40%;
        opacity: 0.1;

        top: 50%;
        left: 10px;
    }
    .oldestDivider::after {
        @apply bg-black dark:bg-white;
        
        content: "";
        position: absolute;
        height: 3px;
        width: 40%;
        opacity: 0.1;

        top: 50%;
        right: 10px;
    }

    /* When hovered */
    .addBtnProps:hover { /* Button's Background */
        @apply bg-accent2 cursor-pointer;
        box-shadow: 0 0 5px #EDCC6F,
        0 0 25px #EDCC6F;
    }
    .addBtnProps::before { /* Horizontal Line */
        content: ""; 
        @apply absolute top-5 left-2 bg-black w-8.75 h-1.25; 
    }
    .addBtnProps::after { /* Vertical Line */
        content: "";
        @apply absolute top-1.75 left-5.75 bg-black w-1.25 h-8.75;
    }
    .addBtnProps:hover::before { /* Horizontal Line */
        @apply bg-white
    }
    .addBtnProps:hover::after { /* Vertical Line */
        @apply bg-white
    }

    /* Animation for Icon Theme Switch */
    
}