@font-face {
    font-family: dmSerif;
    src: url("./fonts/DM_Serif_Text/DMSerifText-Regular.ttf");
}

@font-face {
    font-family: inter;
    src: url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

@import "tailwindcss";

@theme {

    /* Fonts */
    --font-primary: dmSerif, "serif";
    --font-secondary: inter, "sans-serif";

    /* Colors */
    --color-primary: #AAD3FF;
    --color-secondary: #E3F7FA;
    --color-accent: #FDC500;
    --color-textColor: #000000;
    --color-success: #5BB35B;
    --color-error: #F5003D;
    --color-white: #F8F8F8;
    --color-gray: #D9D9D9;
    
    /* Shadows */
    --shadow-icons: 0px 4px 4px rgb(0, 0, 0, 0.5);

}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
      .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .beforeOldest {}
    .beforeOldest::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 40%;
        background-color: #000;
        opacity: 0.1;

        top: 50%;
        left: 10px;
    }
    .beforeOldest::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 40%;
        background-color: #000;
        opacity: 0.1;

        top: 50%;
        right: 10px;
    }
}
