@font-face {
    font-family: dmSerif;
    src: url("./fonts/DM_Serif_Text/DMSerifText-Regular.ttf");
}

@font-face {
    font-family: inter;
    src: url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

@import "tailwindcss";

@theme {

    /* Fonts */
    --font-primary: dmSerif, "serif";
    --font-secondary: inter, "sans-serif";

    /* Colors */
    --color-primary: #AAD3FF;
    --color-secondary: #E3F7FA;
    --color-accent: #FDC500;
    --color-white: #F8F8F8;
    --color-textColor: #000000;
    --color-success: #5BB35B;
    --color-error: #F5003D;
    
    /* Shadows */
    --shadow-icons: 0px 4px 4px rgb(0, 0, 0, 0.5);

}
